<form>
    <input type="text" [(ngModel)]="busqueda" name="pokemon" required="">
    <br><br>
    <button (click)="buscarPokemon()">Buscar pokemon</button>

</form>

<div *ngIf="pokemonEncontrado ; else ningunResultado">
    <app-preview-pokemon [dataInfoPokemon]="pokemon"></app-preview-pokemon>
</div>

<ng-template  #ningunResultado>{{noEncontrado}}</ng-template >


    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombre del pokemon</mat-label>
          <input type="text"
                 placeholder="pikachu"
                 aria-label="text"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
                 >
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>